h5{
    text-align: center;
}

h1{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.resposta{
    text-align: center;
    width: 100%;
}

.numeroMegaSena{
    width: 3rem;
}

.disputas{
    margin-bottom: 10px;
}